{% extends 'base.html' %}
{% block title %}Home{% endblock %} 
{% block content %}
  <div class="container">
    <h1>Welcome to HiStranger!</h1>
    <p></p>
    <p>We're a new organization established in 2021.</p>
    <p>Our mission is to help people with diverse interests meet new people and make new friends.</p>
    <p>We provide a variety of activities such as barbecues, birthday celebrations, hiking, and reading groups, to bring people together who may not have had the opportunity to meet otherwise.
      Our goal is to create a community where people can connect and build meaningful relationships based on shared experiences and interests.</p>
    <p>Join us and expand your social circle, meet new friends, and have fun!</p>
  </div>
{% endblock %}
